body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(255, 255, 255); */
  background-image: url("https://images.unsplash.com/photo-1647068666050-9aef091778fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}
.name {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  border: 1px solid red;
  align-items: center;
  background: linear-gradient(0deg, rgb(4, 142, 255) 0%, rgb(79, 25, 228) 100%);
}
.headBox {
  position: fixed;
  width: 100vw;
}
.advertisementBoxLeft {
  position: fixed;
  width: 100px;
  height: 400px;
  top: 40%;
  border: 1px solid red;
  list-style: none;
}
.advertisementBoxRight {
  position: fixed;
  width: 100px;
  height: 400px;
  top: 40%;
  right: 0;
  border: 1px solid red;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  width: 400px;
  height: 50px;
}
.headerBox {
  max-width: 500px;
  min-height: 80vh;
  align-items: center;

  background-color: rgb(255, 255, 255);
  border: 1px solid red; /* 필요한 경우 삭제하세요 */
  padding: 5px;
  margin: 0 auto;
}
.headerLogo {
  all: unset;
  display: block;
  margin-bottom: 30px;

  background: linear-gradient(0deg, rgb(255, 0, 0) 0%, rgb(0, 38, 255) 100%);
  border-radius: 10px;
  height: 4rem;
  line-height: 4rem;

  text-align: center;
  color: hsla(120, 50%, 90%, 1);
  font-size: 1.4rem;
  cursor: pointer;
}
.headerMenu {
  /* 메뉴 위치 가운데로 수정해야함 */
  list-style: none;
  padding-left: 0;
}
.headerMenu li {
  all: unset;
  display: block;
  margin-bottom: 30px;

  background: rgb(1, 252, 1);
  border-radius: 10px;
  height: 4rem;
  line-height: 4rem;

  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  cursor: pointer;
}
/* /////////////////////////////////////////////////// */
#popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
}

#popup {
  position: relative;
  width: 400px;
  height: 300px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px gray;
  overflow: hidden;
}

#popup h2 {
  margin: 0;
  padding: 20px;
  background-color: blue;
  color: white;
}

#popup p {
  margin: 20px;
}

#close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#open-popup {
  all: unset;
  display: block;
  margin-bottom: 30px;

  background: rgb(255, 247, 0);
  border-radius: 10px;
  width: 500px;
  height: 4rem;
  line-height: 4rem;

  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  cursor: pointer;
}
.foodImg {
  width: 400px;
  height: 230px;
}

